[submodule "files/.config/oh-my-zsh/themes/powerlevel10k"]
	path = files/.config/oh-my-zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "files/.config/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = files/.config/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "files/.claude"]
	path = files/.claude
	url = https://github.com/yudi7ll/.claude.git
